footer{
    height: 60px;
    color: white;
    padding: 0 30px;
}

footer ul{
    list-style: none;
}

footer ul li{
    margin: 10px;
}

.fondoFooter{
    background-color: black;
}

.nombreIntegrante{
    margin-left: 300px;
    font-family: monospace;
}