
<%- include("./partials/head") %> 

<body>
    <%- include("./partials/headerLogueado") %> 

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="">
                    
                    <h3><a href="">Notificaciones</a></h3>
                    <h3><a href="">Privacidad</a></h3>
                    <h3><a href="">Seguridad</a></h3>
                    <h3><a href="">Mi Cuenta</a></h3>
                    <h3><a href="">Ayuda</a></h3>


            
                </form>
            </div>
        </div>
    </main>

    <%- include("./partials/footer") %> 

</body>