<html>
    <%- include("./partials/head") %> 
    <body>
        <%- include("./partials/headerDeslogueado") %> 
        <main>
            <div class="uk-section uk-section-small fondo">
                <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                   
                    <div class="formulario">
                         <h1 class="titulo">Regístrate</h1>
                    
                    <form action="/registracion" method="POST">
                        <div>
                            <label for="email" class="form">Correo Electrónico</label>
                            <input class= "input" type="email" name="email" id="">
                        </div>

                        <div>
                            <label for="telefono" class="form">Número de Telefono</label>
                            <input class= "input" type="number" name="telefono" id="">
                        </div>

                        <div>
                            <label for="password" class="form">Contraseña</label>
                            <input class= "input" type="password" name="password" id="">
                        </div>

                        <div>
                            <label for="password" class="form">Confirme su contraseña</label>
                            <input class= "input" type="password" name="password" id="">
                        </div>

                        <div>
                            <button type="submit" class="boton">Registrarme</button>
                        </div>
             
                    </form>
                </div>
                </div>
            </div>
        </main>
    
        <%- include("./partials/footer") %> 
    
    </body>

</html>