<html>

<%- include("./partials/head") %> 

<body>

<%- include("./partials/headerLogueado") %> 

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <h2>Nuevo Post</h2>
                <form action="/agregarPost" method="POST">
                    
                    <div>
                        <label for="id">Id:</label>
                        <input type="number" name="Id" id="">
                    </div>

                    <div>
                        <label for="caption">Pie de foto:</label>
                        <input type="text" name="caption" id="">
                    </div>

                    <div>
                        <button type="submit">Subir imagen</button>
                    </div>

                    <form action="/action_page.php"> 
                        <label for="img">Elegir imagen:</label>
                        <input type="file" id="img" name="img" accept="image/*">
                        <input type="submit">
                    </form>
                </form>
                

            </div>
        </div>
    </main>
    
    <%- include("./partials/footer") %> 

</body>

</html>