<html>

<%- include("./partials/head") %> 

<body>

<%- include("./partials/headerDeslogueado") %> 

    <main>
        <div class="uk-section uk-section-small fondo">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <div class="login"> 
                    <h1 class="titulo">Login</h1>
                <form action="" method="POST">

                    <div>
                        <label for="email" class="log">Correo Electrónico</label>
                        <input class= "input" type="email" name="email" id="email" placeholder="Ingrese su email">
                    </div>

                    <div>
                        <label for="password" class="log">Contraseña</label>
                        <input class= "input" type="password" name="password" id="password" placeholder="Ingrese su contraseña">
                    </div>

                    <div>
                        <button type="submit" class="boton">Login</button>
                    </div>
                </div>
                
                </form>
            </div>
        </div>
    </main>

    <%- include("./partials/footer") %> 

</body>

</html>