<html>

<%- include("./partials/head") %> 

<body>

<%- include("./partials/headerDeslogueado") %> 

    <main>
        <div class="uk-section uk-section-small fondo">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                
                <div class="formulario">
                        <h1 class="titulo">Regístrate</h1>
                
                <form action="/registracion" method="POST">
                    <div>
                        <label for="nombre" class="form">Nombre</label>
                        <input class="input" type="nombre" name="nombre"  id="nombre" placeholder="Ingrese su nombre">
                      </div>
                    
                    <div>
                        <label for="email" class="form">Correo Electrónico</label>
                        <input class= "input" type="email" name="email" id="email" placeholder="Ingrese su email">
                    </div>

                    <div>
                        <label for="password" class="form">Contraseña</label>
                        <input class= "input" type="password" name="password" id="password" placeholder="Ingrese su contraseña">
                    </div>

                    <div>
                        <label for="fecha" class="form">Fecha de Nacimiento</label>
                        <input class="input" type="date" name="fecha" id="fecha" placeholder="Fecha de nacimiento">
                    </div>

                    <div>
                        <button type="submit" class="boton">Registrarme</button>
                    </div>
            
                </form>
            </div>
            </div>
        </div>
    </main>

    <%- include("./partials/footer") %> 

</body>

</html>